<div class="header">
	<a href="#/preferences"><span class="header-text-link entypo pull-left">&#9881;</span></a>
	<span class="header-logo" href="#">Power <sup app-version></sup></span>
	<a href="#/maintenance"><span class="header-text-link entypo pull-right">&#128712;</span></a>
</div>

<div class="items">
	<div class="item light">
		<a href="#/light">
			<div class="on-area" style="left: 30%; right: 15%;">
				<span class="get-on">09:00</span>
				<span class="meteo light-on">B</span>
				<span class="get-off">17:00</span>
				<span class="meteo light-off">C</span>
			</div>
		<span class="title">Light</span>
		</a>
		<!--<span class="current">on</span>-->
	</div>
	<div class="item co2">
		<a href="#/co2">
			<div class="on-area" style="left: 25%; right: 20%;">
				<span class="get-on">08:30</span>
				<span class="entypo-social co2-on">&#62289;</span>
				<span class="get-off">16:30</span>
				<span class="entypo co2-off">&#9204;</span>
			</div>
		<span class="title">Co²</span>
		</a>
	</div>
	<!--<div class="item fertilizer">
		<a href="#/fertilizer">
			<div class="on-pulse" style="left: 31%">
				<span class="get-on">09:10</span>
				<span class="entypo">&#128167;</span>
			</div>
			<span class="title">Fertilizer</span>
		</a>
	</div>
	-->
	<div class="current-time" style="left: 57%"></div>
</div>